.container{
    display: grid;
    grid-template-rows: 80vh min-content repeat(2, min-content) 40vw min-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr)[full-end];
}

.sidebar{
    background-color: $color-white;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.header{
    background-color:antiquewhite;
    grid-column: full-start / col-end 6;
}


.team{
    background-color: $color-navy-blue-1;
    grid-column: col-end 6 / full-end;
}

.features{
    grid-column: center-start / center-end;
}

.gallery{
    grid-column: full-start / full-end;
}

.packages{
    grid-column: center-start / center-end;
}

.story__pictures{
    grid-column: full-start / col-end 4;
}

.story__content{
    background-color: $color-peach-2;
    grid-column: col-end 4 / full-end;
}

.footer{
    grid-column: full-start / full-end;
}