.sidebar{
    background-color: red;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.header{
    background-color:antiquewhite;
    grid-column: full-start / col-end 6;
}


.team{
    background-color:aqua;
    grid-column: col-end 6 / full-end;
}

.features{
    background-color:blueviolet;
    grid-column: center-start / center-end;
}

.gallery{
    background-color:cadetblue;
    grid-column: full-start / full-end;
}

.packages{
    background-color:chartreuse;
    grid-column: center-start / center-end;
}

.story__pictures{
    background-color:brown;
    grid-column: full-start / col-end 4;
}

.story__content{
    background-color:cornflowerblue;
    grid-column: col-end 4 / full-end;
}

.footer{
    background-color:darkgray;
    grid-column: full-start / full-end;
}