.header{
    background-image: linear-gradient(rgba($color-navy-blue-1, .65), rgba($color-navy-blue-1, .65)),
                       url(/img/header-img.jpg);
    background-position: center;
    background-size: cover;

    padding: 4rem;

    display: grid;
    grid-template-rows: 1fr repeat(2, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 1.5rem;
    justify-content: center;

    &__logo{
        font-size: $fs-h3;
        color: $color-white;
        justify-self: center;
        align-self: start;
    }

    .heading-3{
        margin-bottom: -2rem;
    }

    &__seenon-text{
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
        align-items: center;

        font-size: $fs-base;
        color: $color-white;

        &::after,
        &::before{
            content: "";
            height: 1px;
            display: block;
            background-color: $color-light-brown-2;
        }
    }

    &__seenon-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // justify-content: space-between;
        align-items: center;
        justify-items: center;

        img{
            max-height: 2.5rem;
            max-width: 40%;
            filter: brightness(90%);
        }
    }

    &__btn{
        
        align-self: start;
        justify-self: start;

        margin-top: 2rem;
    }
}