.header{
    background-image: linear-gradient(rgba($color-navy-blue-1, .65), rgba($color-navy-blue-1, .65)),
                       url(/img/header-img.jpg);
    background-position: center;
    background-size: cover;

    // padding: 8rem;

    &__logo{
        font-size: 4.8rem;
        color: $color-white;
    }
}