//Font
$fs-default: 'Niramit', sans-serif;

// Font Weight
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Font Sizes
$fs-h1: 4.8rem;
$fs-h2: 4.0rem;
$fs-h3: 3.3rem;
$fs-h4: 2.8rem;
$fs-h5: 2.3rem;
$fs-h6: 1.9rem;
$fs-base: 1.6rem;
$fs-caption: 1.3rem;


// Colors
$color-black: #281217;
$color-maroon: #71293B;
$color-peach-1: #DDB6AD;
$color-peach-2: #EADDDA;
$color-white: #F0F0F0;
$color-navy-blue-1: #1F3850;
$color-navy-blue-2 : #375C7E;
$color-army-green: #8C9D85;
$color-light-brown-1: #E1CEB5;
$color-light-brown-2: #FFE7CC;


// Breakpoints
$bp-laptop-l: 76.25rem; //1220px
$bp-laptop: 64rem; //1024px
$bp-tablet: 48rem; //768px
$bp-mobile-l: 29.688rem; //475px
$bp-mobile-s: 23.438rem; //375px