.btn{
    border: none;
    border-radius: 2px;
    padding: 1.6rem;
    cursor: pointer;
    font-family: inherit;
}

.header__btn{
    background-color: $color-light-brown-2;
    color: $color-navy-blue-1;
    font-weight: $fw-bold;
    text-transform: capitalize;
}