.btn{
    border: none;
    border-radius: 2px;
    // padding: 1.6rem;
    padding: 1.7rem 2rem 2.2rem 2rem;
    cursor: pointer;
    font-family: inherit;
    transition: all .2s;
}

.header__btn{
    background-color: $color-light-brown-2;
    color: $color-navy-blue-1;
    font-weight: $fw-bold;
    text-transform: capitalize;

    &:hover{
        background-color: $color-light-brown-1;
        transform: scale(1.1) translateX(1rem);
    }
}

.story__btn{
    background-color: $color-navy-blue-1;
    color: $color-white;
    font-size: $fs-h6;
    font-weight: $fw-semibold;

    &:hover{
        background-color: $color-navy-blue-2;
    }

    @media only screen and (max-width: $bp-laptop) {
        font-size: $fs-base;
    }
}