.team{
    padding: 3rem;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    row-gap: 2rem;

    .heading-3{
        font-size: $fs-h6;
    }

    &__list{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1.5rem;
    }

    &__info{
        display: grid;
        grid-template-columns: min-content max-content;
        column-gap: 1rem;
        align-items: center;
    }

    &__img{
        border-radius: 100%;
        height: 6rem;
    }

    &__details{
        color: $color-white;
    }

    &__name{
        font-size: $fs-h6;   
        font-weight: $fw-bold;
    }

    &__position{
        font-size: $fs-caption;
    }
}


.packages{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
    margin: 10rem 0;
}



.story{
    &__pictures{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(7,1fr);
        background-image: linear-gradient(rgba($color-navy-blue-1, .2), rgba($color-navy-blue-1, .2)),
                          url(/img/story-picture-bg.jpg);
        background-position: center;
        background-size: cover;


        img{
            width: 100%;
            border-radius: 2px;
            box-shadow: 1px 6px 14px 3px rgba($color-navy-blue-1, 0.25);
        }

        &--img1{
            grid-column: 3/6;
            grid-row: 2/6;
            margin-top: -10px;
        }

        &--img2{
            grid-column: 5/8;
            grid-row: 5/8;
            width: 110% !important;
            position: relative;
            margin-left: 5rem;
        }
    }

    &__content{
        padding: 6rem 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media only screen and (max-width: $bp-laptop) {
            padding: 6rem 4vw 6rem 8vw;
        }
        
        .heading-3{
            color: $color-maroon;
            line-height: 140%;
            font-size: $fs-h6;

            @media only screen and (max-width: $bp-laptop) {
                font-size: $fs-base;
            }
        }

        .heading-1{
            color: $color-black;
            line-height: 120%;
            margin-bottom: 6.4rem;

            @media only screen and (max-width: $bp-laptop) {
                font-size: $fs-h2;
            }
        }
    }
}


.sidebar{
    &__container{
        width: 5.5rem;
        display: block;
        margin: 3rem auto 0;
    }

    &__logo{
        width: 100%;
    }
}